

        <div class="card"></div>
        <div class="card-header">
          <h2><strong>{ {name} }</strong></h2>
          <h2>Engineer</h2>
        </div>
        <div class="card">
          <h3><strong>ID:</strong> <span id="idnum">{id}</span></h3>
        </div>
        <div class="card">
          <h3><strong>Email:</strong> <span id="email">{ email}</span></h3>
        </div>
        <div class="card">
          <h3><strong>Office Number:</strong> <span id="phone">{ officeNumber}</span></h3>
        </div>
      </div>
